<nav class="navbar">
    <div class="nav-container">
        <div class="nav-logo">
            <a href="{{ '/' | relative_url }}">
                <span class="logo-text">AESC</span>
            </a>
        </div>
        
        <div class="nav-menu" id="nav-menu">
            <ul class="nav-list">
                <li class="nav-item">
                    <a href="{{ '/' | relative_url }}" class="nav-link">Início</a>
                </li>
                <li class="nav-item">
                    <a href="#sobre" class="nav-link">Sobre</a>
                </li>
                <li class="nav-item">
                    <a href="#servicos" class="nav-link">Serviços</a>
                </li>
                <li class="nav-item">
                    <a href="#contato" class="nav-link">Contato</a>
                </li>
            </ul>
        </div>
        
        <div class="nav-toggle" id="nav-toggle">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </div>
</nav>
